nav {
    margin: .5rem auto;
    text-align: center;
    border-width: 90%;
    border-top: .1rem solid #ccc;
    border-bottom: .1rem solid #ccc;

    ul {

        li {
            list-style: none;
            display: inline-block;

            a {
                text-decoration: none;
                font-weight: 700;

                &:hover {
                    color: brown;
                    transition: ease-in-out all .4s;
                    font-weight: 600;
                }

                &:visited {
                    color: black;
                }
            }
        }
    }
}