$dark-blue: #0a2647;
$light-blue: #5bc0f8;
$white-color: #fff;
$background-desktop: #fbf1d3;
$background-tablet: #ce7777;
$background-mobile: #1c315e;

/* Backgraounds Color in Tablet */

$bc-body-color:#FFFBEB;
$bc-nav-color:#FFE7CC;
$bc-footer-color:#050505;

/* Backgraounds Color in Mobile */

$bc-mobile-body-color:#FFFDE3;
$bc-mobile-nav-color:#CFE8A9;
$bc-mobile-footer-color:#050505;

/* Fonts size */

$font-small:16px;
$font-medium:19px;
$font-larg:23px;